.ing {
  margin-top: -100px;
  margin-bottom: -80px;
}

.FundoSlide {
  background-color: rgba(217, 255, 0, 0);
  width: 90%;
  height: 500px;
  border-radius: 20px;
}

.bg-class {
  --background: linear-gradient(
    197deg,
    rgb(255, 201, 85) 0%,
    rgb(221, 151, 1) 13.5%,
    rgb(196, 134, 0) 33.33%,
    rgb(119, 81, 0) 100%
  ) !important;
}

.estilo {
  width: 30px;
  height: 1000px;
}

.meio {
  margin-left: 15%;
}
